/* Desktop - 3 */

body {
  position: relative;
width: 1440px;
height: 1024px;

background: #E0E0E0;
}

.main {
position: absolute;
width: 562px;
height: 138px;
left: 439px;
top: 186px;
}

.signup-form {
  position: absolute;
width: 566px;
height: 679px;
left: calc(50% - 566px/2);
top: 186px;
}

.signup-form label {

}

.signup-form input {

}

.signup-form button {

}

.header {

}

.nav a {

}

.h1 {
  position: absolute;
width: 562px;
height: 125px;
right: 439px;
top: 186px;

font-family: 'Lexend Exa', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 140px;
/* or 292% */
text-align: center;

color: #EE2626;
}

.p {
  position: absolute;
width: 424px;
height: 29px;
left: calc(50% - 424px/2);
top: 295px;

font-family: 'Lexend Exa', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #0075BE;
}

.footer a {

}

.footer {

}


/* Group 2 */

position: absolute;
width: 565px;
height: 83px;
left: 437px;
top: 782px;



/* Rectangle 2 */

position: absolute;
width: 565px;
height: 83px;
left: 437px;
top: 782px;

background: #0A81D1;
border-radius: 40px;


/* Rectangle 4 */

position: absolute;
width: 565px;
height: 83px;
left: 437px;
top: 782px;

background: #0A81D1;
filter: blur(15px);
border-radius: 40px;


/* Sign Up */

position: absolute;
width: 359.45px;
height: 20px;
left: calc(50% - 359.45px/2 - 0.27px);
top: 814px;

font-family: 'Lexend Exa';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 140px;
/* or 583% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Group 5 */

position: absolute;
width: 562px;
height: 403px;
right: 437px;
top: calc(50% - 403px/2 + 40.5px);



/* Group 1 */

position: absolute;
width: 562px;
height: 107px;
left: 441px;
top: 351px;



/* Rectangle 3 */

position: absolute;
width: 562px;
height: 107px;
left: 441px;
top: 351px;

background: rgba(0, 117, 190, 0.5);
border-radius: 20px;


/* Enter your email */

position: absolute;
width: 445.11px;
height: 15.55px;
left: calc(50% - 445.11px/2 - 24.1px);
top: 418.15px;

font-family: 'Lexend Exa';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 140px;
/* or 583% */
display: flex;
align-items: center;

color: rgba(255, 255, 255, 0.5);



/* Email */

position: absolute;
width: 541px;
height: 25px;
left: 462px;
top: 367px;

font-family: 'Lexend Exa';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;
/* identical to box height */

color: #FFFFFF;



/* Group 1 */

position: absolute;
width: 562px;
height: 107px;
left: 441px;
top: 499px;



/* Rectangle 3 */

position: absolute;
width: 562px;
height: 107px;
left: 441px;
top: 499px;

background: rgba(0, 117, 190, 0.5);
border-radius: 20px;


/* Enter your password */

position: absolute;
width: 445.11px;
height: 15.55px;
left: calc(50% - 445.11px/2 - 24.1px);
top: 566.15px;

font-family: 'Lexend Exa';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 140px;
/* or 583% */
display: flex;
align-items: center;

color: rgba(255, 255, 255, 0.5);



/* Password */

position: absolute;
width: 541px;
height: 25px;
left: 462px;
top: 515px;

font-family: 'Lexend Exa';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;
/* identical to box height */

color: #FFFFFF;



/* Eye

Keywords: view, watch
*/

position: absolute;
width: 30px;
height: 30px;
left: 943px;
top: 559px;

opacity: 0.5;


/* Icon */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 16.67%;
bottom: 16.67%;

border: 4px solid rgba(255, 255, 255, 0.5);


/* Group 2 */

position: absolute;
width: 562px;
height: 107px;
left: 441px;
top: 647px;



/* Rectangle 3 */

position: absolute;
width: 562px;
height: 107px;
left: 441px;
top: 647px;

background: rgba(0, 117, 190, 0.5);
border-radius: 20px;


/* Enter your password */

position: absolute;
width: 445.11px;
height: 15.55px;
left: calc(50% - 445.11px/2 - 24.1px);
top: 714.15px;

font-family: 'Lexend Exa';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 140px;
/* or 583% */
display: flex;
align-items: center;

color: rgba(255, 255, 255, 0.5);



/* Password */

position: absolute;
width: 541px;
height: 25px;
left: 462px;
top: 663px;

font-family: 'Lexend Exa';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;
/* identical to box height */

color: #FFFFFF;



/* Eye

Keywords: view, watch
*/

position: absolute;
width: 30px;
height: 30px;
left: 943px;
top: 707px;

opacity: 0.5;


/* Icon */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 16.67%;
bottom: 16.67%;

border: 4px solid rgba(255, 255, 255, 0.5);


/* Frame 3 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-end;
padding: 31px 36px 31px 0px;
gap: 10px;
isolation: isolate;

position: absolute;
width: 1440px;
height: 105px;
left: 0px;
top: 0px;

background: #BCBCBC;


/* Frame 1 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 36px;

margin: 0 auto;
width: 207px;
height: 140px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* About */

width: 88px;
height: 140px;

font-family: 'Lexend Exa';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 140px;
/* identical to box height, or 583% */
display: flex;
align-items: center;
text-align: center;

color: #EE2626;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Login */

width: 83px;
height: 140px;

font-family: 'Lexend Exa';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 140px;
/* identical to box height, or 583% */
display: flex;
align-items: center;
text-align: center;

color: #0075BE;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Group 4 */

position: absolute;
width: 301px;
height: 57px;
left: 36px;
top: 25px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* PokéTrade */

position: absolute;
width: 237px;
height: 37px;
left: 100px;
top: 34px;

font-family: 'Lexend Exa';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 140px;
/* or 583% */
display: flex;
align-items: center;

color: #EE2626;



/* image 1 */

position: absolute;
width: 57px;
height: 57px;
left: 36px;
top: 25px;

background: url(image.png);


/* Group 7 */

position: absolute;
width: 1281px;
height: 30px;
left: 79px;
top: 947px;



/* About us */

position: absolute;
width: 210px;
height: 30px;
left: 79px;
top: 947px;

font-family: 'Lexend Exa';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 140px;
/* or 875% */
display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;

color: #EE2626;



/* Line 1 */

position: absolute;
width: 116px;
height: 0px;
left: 1244px;
top: 968px;

border: 2px solid #EE2626;
