{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>POKÉTRADE | SIGNUP</title>
      <link rel="stylesheet" href="{% static '/signup.css' %}">
  </head>
  <body>
    <header class = "topbar">
        <div class="logo">PokéTrade</div>
        <img src="/collection/static/img/ball.png" alt="">
        <nav class = "nav">
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'login' %}">Login</a>
        </nav>
    </header>

  <main class="main">
      <h1>Sign up now!</h1>
      <p>Please enter your information to sign up</p>

      <form class="<signup-form">
          <div class="input-group">
              <label>Email</label>
              <label for="email"></label><input type ="text" id="email" placeholder="Enter your email">
          </div>

          <div> class="input-group">
              <label>Password</label>
              <label for="password"></label><input type="password" id="password" name="password" placeholder="Enter your password">
          </div>
          <a href="{% url 'populate_collection' %}" class ="button-class">Sign Up</a>
          <button type="submit">Sign Up</button>
      </form>
      <footer class="footer">
          <a href ="{% url 'about' %}">About Us</a>
      </footer>
  </main>

  </body>
</html>
